/* @font-face {
  font-family: 'Comic-Neue-Italic';
  src: url(Estruturas/Fontes/Comic-Neue/Base/Italic.ttf);
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  box-sizing: border-box;
} */


/* ...................................................Body...................................................... */



/* ...................................................header...................................................... */



/* ...................................................main...................................................... */


/* ...................................................Lista De Idiomas...................................................... */


/* ...................................................Lista De Linguagem De Programação...................................................... */


/* ...................................................Tabela Projetos...................................................... */



/* ...................................................Tabela Certificado...................................................... */




/* ...................................................Footer...................................................... */


